---
import Layout from '../layouts/Layout.astro';
import { CldUploadWidget, CldImage } from 'astro-cloudinary';
import Button from 'fulldev-ui/components/Button.astro';
import Heading from 'fulldev-ui/components/Heading.astro';

import { getCollection } from 'astro:content';

const images = await getCollection('images');

---

<Layout title="Welcome to Astro.">
	<main>
		<Heading color="brand" contrast={false}>
			Hackathon Cloudinary
		</Heading>

		<!-- choose youru destiny en español -->

		<Button color="brand" as="a" href="/choose-your-destiny">Elije tu propia aventura</Button>

		<hr />
		<CldUploadWidget
			id="upload-widget"
			uploadPreset='upload-unsigned-images'
			options={{
				sources: ['local', 'url'],
				multiple: false,
				maxFiles: 1,
				language: 'es',
				text: {
					es: {
						or: 'ó',
						local: {
							'browse': 'Buscar',
							'dd_title_single': 'Arrastra y suelta un archivo aquí',
						},
						menu: {
							'files': 'Mis Archivos',
							'web': 'URL',
						},
						url: {
							inner_title: "Introduce la URL de la imagen",
							input_placeholder: "http://remote.site.example/images/remote-image.jpg"
						},
					}
				}
			}}
		>
			<Button color="brand" as="button">Upload</Button>
		</CldUploadWidget>
		<ul>
			{
				images.map((image) => {
					return (
						<li>
							<a href={`/photo?id=${image.data.public_id}`}>
								<CldImage
									src={image.data.public_id}
									width={250}
									height={250}
									crop={{
										type: 'fill',
										source: true,
									}}
								/>
							</a>
						</li>
					)
				})
			}
		</ul>
	</main>
</Layout>

<script>
	import { navigate } from 'astro:transitions/client';

	const widget = document.querySelector('#upload-widget');

	if ( widget ) {
		widget.addEventListener('clduploadwidget:success', ((
			e: CustomEvent<{ info: { public_id: string } }>) => {
			const publicId = e.detail.info.public_id;
			// cuando termina de subir la imagen, navega a la página de la imagen
			navigate(`/photo?id=${publicId}`);
		}) as EventListener);
	}

</script>
<style>
	main {
		width: 800px;
		margin: 0 auto;
		padding-top: 100px;
		text-align: center;
		padding-bottom: 10px;
	}

	h2{
		margin-bottom: 32px;
	}

	input {
		color: red;
	}

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 4px;
		list-style: none;
	}
</style>
